* {
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: auto;
  width: 12rem;
  border: 1px solid red;
}

.dado {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
